

.logo-container{
    background-color:$coleur-tertiaire;
    width: 400px;
    height: fit-content;
    .logo-format{
        background-color:$coleur-primaire;
        color:$coleur-secondaire;
    }
}