
header{
  width: 100%;
  display: block;
  font-family: 'roboto';
  text-align: center;
}

.header{
  &__logo{
    width:100% ;
    height: 40px;
    h1{

      font-size: 30px;
      font-style: italic;
      font-weight: bolder;
    }
  }
}