// font declarée dans le script node npm

/*@font-face {
  font-family: "Shrikhand-Regular";
  src: url("/policeShrikhand/Shrikhand-Regular.ttf") format("ttf")
 }
 @font-face {
  font-family: "Shrikhand-Regular";
  src: url("/policeShrikhand/Shrikhand-Regular.otf") format("otf")
 }*/


* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
*,*:before,*:after {
	box-sizing: border-box;
}

html, body, main{
  width: 100%;
}

p,span,::placeholder,button,section,div{
  font-family: 'roboto';
}

h1, h2{
  font-family: 'Shrikhand-Regular';
  font-weight: bold;
}

a{
  text-decoration: none;
  color: black;
}

a:active{
  color: black;
  background-color:white;
}
a:visited{
  color: black;
  background-color:white;
}
a:link {
  text-decoration: none;
  color: black;

}
a::before{
  text-decoration: none;
  background-color: white;
}

