// font declarée dans le script node npm

/*@font-face {
  font-family: "Shrikhand-Regular";
  src: url("/policeShrikhand/Shrikhand-Regular.ttf") format("ttf")
 }
 @font-face {
  font-family: "Shrikhand-Regular";
  src: url("/policeShrikhand/Shrikhand-Regular.otf") format("otf")
 }

 @font-face{
  font-family: "Shrikhand";
  src: url("Shrikhand-Regular.ttf");
  src: url("Shrikhand-Regular.otf");
}
*/
/* shrikhand-regular - latin */
@font-face {
  font-family: 'Shrikhand';
  font-style: normal;
  font-weight: 400;
  src: url('shrikhand-v11-latin-regular.ttf'); /* IE9 Compat Modes */
  src: local(''),
       url('shrikhand-v11-latin-regular.eot') format('embedded-opentype'), /* IE6-IE8 */
       url('shrikhand-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('shrikhand-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('shrikhand-v11-latin-regular.ttf') format('truetype') /* Safari, Android, iOS */
      
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
*,*:before,*:after {
	box-sizing: border-box;
}

html, body, main{
  width: 100%;
}

p,span,::placeholder,button,section,div{
  font-family: 'roboto';
}

h1, h2{
  font-family: 'Shrikhand';
  
}

a{
  text-decoration: none;
  color: black;
  background-color: transparent;
}
:link{
  text-decoration: none;
  color: black;
  background-color: transparent;
}
a:visited{
  color: black;
  background-color:white;
}
a:active{
 
  color: black;
  background-color: transparent;
  
}




