// font declarée dans le script node npm

/*@font-face {
  font-family: "Shrikhand-Regular";
  src: url("/policeShrikhand/Shrikhand-Regular.ttf") format("ttf")
 }
 @font-face {
  font-family: "Shrikhand-Regular";
  src: url("/policeShrikhand/Shrikhand-Regular.otf") format("otf")
 }*/


* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
html, body, main{
  width: 100%;
}

p,span,::placeholder,button,section,div{
  font-family: 'roboto';
}

h1, h2{
  font-family: 'Shrikhand-Regular';  
}

a{
  text-decoration: none;
}
