section{
  width: 100%;
  height: 1000px;
  margin-top: 40px;
  background-color:$coul_backg_formsectnav;
}
.card{
  display: block;
  display: flex;
  flex-direction: column;
  gap:20px;
  width: 90%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  font-family: 'roboto';
  a{
    text-decoration: none;
  }
  &__heading h2{
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    }
 &__restaurant{ 
    width: 100%;                       /* card responsive */
    height: 206px;
    background-color: white; 
    border-radius : 20px;  
    box-shadow: $box-shadow-card;
  }
  &__restaurant img {
    width: 100%;                    /* image responsive */
    height: 119px;
    border-top-left-radius : 20px;
    border-top-right-radius : 20px;   
    overflow: hidden;
    object-fit: cover; 
    position: relative;
                                /* rempli la card partie image*/
    }
  
.container{
  position: relative;
  overflow: hidden;
}
.container > img{
display: block;
object-fit: cover;
width: 100%;
object-position: center;
}

.container > .content{
position: absolute;
inset: 0;
left: 230px;
top: 10px;

p{
  
  width: fit-content;
  
  font-size: 14px;
    color:rgb(53, 87, 53);
    background-color:$couleur_tertiare;
    text-align: center;
    display: flex;
    justify-content: right;
}
}




  
  &__body {
    display: flex;   
    width: 100%;
    height: 90px; 
    padding-top: 10px;
    color: black; 
    font-size: 16px;  
  } 
  &__nom{
    width: 70%;
    padding-left: 10px;
    padding-right: 50px;
    font-weight: bold; 
    p{
      width: 200px;
  
    }
  }
  &__lieu{
    width: 70%;
    padding-top: 10px;
    font-weight: normal;
  }
 
  
  .card__coeur {
    position: relative;
    width: 50%;
    font-size: 20px;
   
  }
  
 
  
  .card__coeur__rempli {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
   
   
    transform:translate(0);
    transition: all 1s;
    font-size: 20px;
    
  }
  
  .card__coeur:hover .card__coeur__rempli {
    opacity: 1;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient($couleur_primaire, $couleur_secondaire);
  }
  /////////////////////////////////button//////
  






}// fin card
/*
  .fa-solid{
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right,$couleur_primaire, $couleur_secondaire);
    transform:translate(0);
    transition: all 1s;
    opacity: 0;  
    }  
    &:hover .fa-solid{
        transform: translate(1);
        opacity: 1;
    }

    .fa-regular{
        transform: translate(1);
        transition: all 1s;
        opacity: 1;
    }  
    &:hover .fa-regular{
    transform: translate(0);
    opacity: 0;
    }
}
  /*&__coeur{
    width: 50px;
    font-size: 20px;
    display:inline;
   
      .fa-regular{
        transform: translate(1);
        transition: all 1s;
          opacity: 1;
      }  
      &:hover .fa-regular{
        transform: translate(0);
        opacity: 0;
         .fa-solid{

          transform: translate(1);
            opacity: 1;
      
      }
    }
  }
  .card__coeur__rempli{
      display: inline;
      .fa-solid{
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        background-image: linear-gradient(to right,$couleur_primaire, $couleur_secondaire);
        transform:translate(0);
        transition: all 1s;
        opacity: 0;  
        }  
        &:hover .fa-solid{

          transform: translate(1);
          opacity: 1;
          .fa-regular{
         
                opacity: 0;
          }
        }
  }*/

  
  /*&__coeur{
    width: 20%;
    margin-left: 40px;
    display: inline-block;
   
   
      font-size: 20px;
      opacity: 1;
      
    
    &:hover{
      
        font-size: 0px;
        opacity: 0;
      
  
    } 
  }    
  .card__coeur__plein{
      width: 20%;
     
        background-clip: text ; 
        -webkit-background-clip: text ; 
        color: transparent;
        background-image:linear-gradient(to right, $couleur_secondaire, $couleur_primaire ) ;
      
        opacity: 0;
      &:hover{
        opacity: 1;
      }
    } 
   */ 
  


 










  