
.card{
  display: block;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap:20px;
  width: 90%;
  padding: 20px 0px 0px 40px;   // padding : top right bottom left
  // version desktop
  @include laptopL{
    padding: 20px 0px 0px 100px; 
  }
  @include laptop{
    padding: 20px 0px 0px 100px; 
  }
  @include tablette{
    padding: 20px 0px 0px 80px; 
  }
  


  &__heading h2{
    font-size: 20px;
    padding: 20px 0px 5px 0px;          // padding : top right bottom left
    }
  &__restaurant{ 
      width: 100%;                       /* card responsive */
      height: 210px;
      background-color: white; 
      border-radius : 20px;  
      box-shadow: $box-shadow-card;
      img {
      width: 100%;                    /* image responsive */
      height: 150px;
      border-top-left-radius : 20px;
      border-top-right-radius : 20px;   
      overflow: hidden;
      object-fit: cover;                     /* rempli la card partie image*/
      object-position: center;
    
    }
      &__nouveau{
        position: relative;
        overflow: hidden;
      }
      &__nouveau > img{             
        display: block;
        object-fit: cover;
        width: 100%;
        object-position: center;
      }
    
      &__nouveau > .content{                // combinateur parent enfant
        position: absolute;
        inset: 0;                           // met le texte à l'interieur de l'image
        left: 68%;                          
        top: 10px;
        @include laptopL{
          left: 93%;   
        }
        @include laptop{
          left: 90%;   
        }
        @include tablette{
          left: 85%;   
        }
        @include mobileL{
          left: 78%;   
        }
        p{
         display: flex;
         justify-content: center;
         align-items: center;
         text-align: center;
         width:70px;
         height: 20px;
         font: {
          size: 14px;
          weight: bold;
         }
         color:rgb(77, 125, 77);
         background-color:$couleur_tertiare;
        }
      }
     
      
    
  }
  &__body {
    display: flex;   
    width: 100%;
    height: 80px; 
    padding-top: 10px;
    color: black; 
    font-size: 16px;  
  }
  
  &__nom{
    width: 80%;
    padding: 0px 50px 0px 10px ;
    margin-right: 10px;
    @include laptopL{
      margin-right: 180px;
     }
    @include laptop{
     margin-right: 100px;
    }
    @include tablette{
      margin-right: 50px;
     }
    font-weight: bold; 
    p{
      width: 200px;
    }
  }
  &__lieu{
    width: 80%;
    padding: 5px 0px 5px 0px;        // padding : top right bottom left
    margin-right: 10px;
    @include laptopL{
      margin-right: 180px;
     }
    @include laptop{
     margin-right: 100px;
    }
    @include tablette{
      margin-right: 50px;
     }    
    font-weight: normal;
  }

 ///// coeur animation  /////////////////////////////////button//////

 //////buton /////

 form{
  width: 2%;
  height: fit-content;
  display: block;
  background-color:white;

 }
 .form__btn {
  position: relative;
  width: 2%;
  height: fit-content;
  margin-left:95%;
  font-size: 20px;
  border: none;
  background-color: white;

  span {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    transform:translate(0);
    transition: all 1s;
    font-size: 20px;
   }
   &:hover > span {

    opacity: 1;
    .fa-solid{
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      background-image: linear-gradient(to right, $couleur_secondaire,$couleur_primaire);
    }  
  }
 }
 
  


}


 










  