form{
  background-color:$coul_backg_formsectnav;
}
.form {
  width: 100%;
  display: block;
   
  &__input{
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
    height: 40px;
    padding-left: 8%;
    padding-right: 4%;
    @include laptopL{                           // centrage du input sur la page dans la version desktop 
      padding-left: 4%;
      padding-right: 8%;
    
    }
    @include laptop{                           // centrage du input sur la page dans la version desktop 
      padding-left: 4%;
      padding-right: 8%;
    
    }
    background-color:$coul_backg_inputform;
    border: 1px solid $coul_backg_inputform;
   // box-shadow: 0 5px -8px -5px $coul_backg_inputform;
   box-shadow: $box-shadow-topinput;
    
    i{
     
      width: 10%;
      text-align: right;
      
  
    }
    input {
      border: none;
      background-color:$coul_backg_inputform;  
      width: fit-content;
   
    } 
   
    ::placeholder{
      font-size:16px;
      background-color:$coul_backg_inputform;
      color: black;
      font-weight: bold;
      text-align: left;
      padding-left: 15px;
    }
  }
 
  &__heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
       
    p{
      width: 90%;
      font-size: 18px;
    }      
  }
  &__titre{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 10px;    
    p{
      width: 60%;
      font-size: 20px;
      font-weight: bold;
    }
  }
  &__button{
 
    justify-content: center;
    align-items: center;
    width: 50%;
    @include laptopL{                           // centrage du input sur la page dans la version desktop 
      width: 20%;
    }
    @include laptop{                           // centrage du input sur la page dans la version desktop 
      width: 20%;
    }
    @include tablette{                           // centrage du input sur la page dans la version desktop 
      width: 30%;
    }
    height: 40px;   
    border-radius: 16px;
    // melange des trois couleurs de la chartre graphique du site//
    @include couleur-button;
    border: none;
    box-shadow: $box-shadow-btn;
    color: #F2F2F2;

    font: {
      size: 14px;
      family: 'roboto';
    }
    
    margin-top: 30px;
    margin-bottom: 40px;
    p{
      width: 100%;
    }
    &:hover{
      // mixin shadow plus foncee //
      @include box-shadow-fonce($colour);  
      // mixin color background eclaircie //
      @include couleur-button-eclaircie;
    }
  }
}





