.loader-spin {
    position: absolute;
    overflow: hidden;
    z-index: 1;
    left: 50%;
    top: 50%;
    width: 140px;
    height: 140px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-right: 16px solid $couleur_tertiare;
    border-left: 16px solid $couleur_primaire;
    border-top: 16px solid $couleur_secondaire;
    -webkit-animation: spin 3s both ;
    animation: spin 3s both ;
    opacity: 1;
   
 
      
    }
    @-webkit-keyframes spin {
      from { -webkit-transform: rotate(0deg);opacity: 1; }
      
      to { -webkit-transform: rotate(360deg); opacity: 0;}
    }
    
    @keyframes spin {
      from { transform: rotate(0deg); opacity: 1;}
      to { transform: rotate(360deg);opacity: 0;}
    }



.page {
    animation: page 1s 3s both;
}
@keyframes page{
    0% {
        transform:scalex(0);
    }
    100% {
        transform:scalex(1);
    }
}

