
.section{
  width: 500Px;
  line-height: 500px;

}
.page{
  visibility: hidden;
}
.loader {
  width: 40%;
  height: 40%;
  
  
}
/* Center the loader */
.loader__spin {
  position: absolute;
  overflow: hidden;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-right: 16px solid $couleur_tertiare;
  border-left: 16px solid $couleur_primaire;
  border-top: 16px solid $couleur_secondaire;
  -webkit-animation: spin 3s linear ;
  animation: spin 3s linear ;
  
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

