
.menu{
    width: 100%;
    height: 1100px;
    display: block;
    img {
        width: 100%;                    /* image responsive */
        height: 300px;
        overflow: hidden;
        object-fit: cover;              /* rempli la card partie image*/
        object-position: center;
    }
    &__body{
        padding-top: 10px;
        border-top-left-radius : 20px;
        border-top-right-radius : 20px;
        background-color: $coul_backg_formsectnav;
        position:absolute;
        top: 320px;
        width: 100%;
        height: 700px; 
    }
    &__restaurant{
        display: flex;
        flex-direction: row;
        h1{
            padding-left: 30px;
            @include laptopXL{
               padding-left: 150px;
               font-size: 24px;
            }
            @include laptopL{
                padding-left: 100px;
                font-size: 24px;
            }
            @include laptop{
                padding-left: 70px;
                font-size: 24px;
            }
            @include tablette{
                padding-left: 70px;
            }
            font-size: 20px;
            width: 70%;
        }
        i{
            padding: 20px 0px 0px 12%;   // padding : top right bottom left
            @include laptopXL{
                padding: 20px 0px 0px 19%;
                font-size: 24px;
             }
            @include laptopL{
                padding: 20px 0px 0px 18%;
                font-size: 24px;
            }
            @include laptop{
                padding: 20px 0px 0px 18%;
                font-size: 24px;
            }
            @include tablette{
                padding: 20px 0px 0px 15%;
            }
            font-size: 22px;
            width: 20%;
        }
       
    }
    

   
           
    &__entrees{

        padding: 0px 0px 20px 33px;
        @include laptopXL{
            padding: 0px 0px 20px 150px;
            font-size: 16px;
        }
        @include laptopL{
            padding: 0px 0px 20px 100px;
            font-size: 16px;
        }
        @include laptop{
            padding: 0px 0px 20px 70px;
            font-size: 16px;
        }
        @include tablette{
            padding: 0px 0px 20px 70px;
        }
             
      

        &__heading{
            font-size: 14px;
            width: 30%;
        }
        &__trait{
            border-bottom:$couleur_tertiare solid 2px ;
            width: 35%;
            font-weight: bold;
            @include laptopXL{
                width: 5%;
            }
            @include laptopL{
                width: 10%;
            }
            @include laptop{
                width: 15%;
            }
            @include tablette{
                width: 18%;
            }
            margin-bottom: 10px;
        }
       
        .menu__container{
            position: relative; // parent en position qui permet la animation du check en position relative 
            overflow: hidden;
            width: 90%;
            height: 60px;
            border-radius: 16px;
            border: none;
            background-color: white;
            margin: 10px 0px 10px 0px;
            padding:10px 0px 10px 0px;
            @include laptopXL{
                margin: 10px 0px 10px 0px;  
            }
            @include laptopL{
                margin: 10px 0px 10px 0px;  
            }
            @include laptop{
                margin: 10px 0px 10px 5px;

            }
            @include tablette{
                margin: 10px 0px 10px 5px;
                padding:10px 0px 10px 5px;
            }

            // animations

            // animation conteneurs apparition progressive

            /* animation: transition 1s ease-in-out 2s forwards;

            @keyframes transition {
                0%   { margin-top: -80px;opacity:0; }
                100% { margin-top: 0;opacity:1; }
                }
            */
            
            animation: apparition 1s 1s ease-in-out backwards;
    
            @keyframes apparition{
                    from{
                        transform: translateY(20px);
                        transform-origin: bottom;
                        opacity: 0;
                    }
                    to{
                        transform: translateY(0);
                        opacity: 1;
                    }
            }
      
            // animation chargement page 
            
            &__btn--1{animation-delay: 200ms}
            &__btn--2{animation-delay: 400ms}
            &__btn--3{animation-delay: 600ms}
            &__btn--4{animation-delay: 800ms}


           

            &__choix {
                p{
                  font: {
                    weight: bold;
                    size: 14px;  
                  }
                  text-align: left;
                  padding-left: 10px;
                  width: 78%;                
                }
                       
            }
            &__prix{
                display: flex;    
                padding-top: 7px;
                p{
                    text-align: left;
                    width: 85%;
                    padding-left: 10px;
                    font-size: 13px;
                }
                &__euro{
                    display: flex;
                    font-weight: bold;   
                    width: 20%;
                    i{
                        opacity: 1;
                    }
                    @include laptopXL{
                        padding-left: 160px;
                        width: 15%;
                        font-size: 24px;
                    }
                    @include laptopL{
                        padding-left: 40px;
                        width: 15%;
                        font-size: 24px;
                    }
                    @include laptop{
                        width: 15%;
                        font-size: 24px;
                    }
                    @include tablette{
                        width: 10%;
                    }
                    @include mobileL{
                        width: 15%;
                    }
                }
            }
            &__prix--{
                padding-top: 4px;
              }
            &__check{
                opacity: 0;
                border-top-right-radius : 16px;
                border-bottom-right-radius : 16px;
                background-color:$couleur_tertiare;
                width: 18%;
                height: 60px;
                position: absolute;
                inset: 0; 
                left: 90%;
                top: 0px;
               
              i{
                opacity: 0; // symbole check invisible
              }
             
            }
           
            &:hover {
                width: 90%;
                
             
                .menu__container__check{ // au sur vol la case check apparait de droit à gauche 
                    opacity: 1;  // check visible
                
                    //animation conteneur check se déplace vers la gauche          
                    transform: translate(-30%);
                    transition: transform 1s ease-in-out;
                    @include laptopXL{
                        transform: translate(-4%);
                        width: 20%;
                    }
                    @include laptopL{
                        transform: translate(-4%);
                        width: 40%;
                    }
                    @include laptop{
                        transform: translate(-4%);
                        width: 50%;
                    }
                    @include tablette{
                        transform: translate(-4%);
                        width: 80%;
                    }
                    @include mobileL{
                        transform: translate(-4%);
                        width: 70%;
                    }
                                
                   i{              
                     opacity: 1;     // symbole check visible
                     text-align: center;
                     border-radius: 50%;
                     width: 20px;
                     height: 20px;
                     color: $couleur_tertiare;
                     background-color: white;
                     margin: 19px 0px 0px 15px;  // padding : top right bottom left
                     padding-top: 2px;

                     // animation - le symbole de check tourne au sur vol hover
                     animation: check 1s ease-out  forwards;
                     @keyframes check {
                        from {transform: rotate(0deg); 
                        }
                        to { transform: rotate(360deg); 
                        }
                    }
                    }
                   
                } 
                .menu__container__prix{  //decalage de la ligne prix vers la gauche hover
                    display: flex;      
                    padding-top: 8px;
                    
                    p{
                        text-align: left;
                        width: 40%;
                      @include laptopXL{
                            width: 100%;
                        }
                        @include laptopL{
                            width: 90%;
                        }
                        @include laptop{
                            width: 80%;
                        }
                        @include tablette{
                            width: 60%;
                        }
                        @include mobileL{
                            width: 50%;
                        }
                        @include mobileM{
                            width: 40%;
                        }
                                               
                        font-size: 13px;
                        white-space: nowrap;       // no wrap à la ligne quand il n'y a plus d'espace
                        overflow: hidden;          // cacher ce que dépasse
                        text-overflow: ellipsis;  // met les trois points de suspension
                    }
                    &__euro{
                        display: flex;
                        width: 70%;
                        padding-left: 37%;
                        font-size: 14px;

                        // le prix se déplace avec le check
                        transform: translate(-3%);
                        transition: transform 1s ease-in-out;

                        @include laptopXL{
                            width: 100%;
                            padding-left:57%;
                        }
                        @include laptopL{
                            width: 100%;
                            padding-left: 55%;

                        }
                        @include laptop{
                            width: 70%;
                            padding-left: 40%;

                        }
                        @include tablette{
                            width: 60%;
                            padding-left: 34%;

                        }
                        @include mobileL{
                            width: 60%;
                            padding-left: 34%;
                        }
                        @include mobileM{
                            width: 70%;
                            padding-left: 37%;
                        }
                        @include mobileS{
                            width: 80%;
                            padding-left: 37%;
                        }                       
                       
                        p{
                          text-align:left;
                          white-space: unset;    // no wrap à la ligne quand il n'y a plus d'espace
                          // cacher ce qui dépasse
                          text-overflow: unset; 
                        }
                        i{
                           opacity: 1;
                       }
                    }
                }
                .menu__container__prix--{
                    padding-top: 4px;
                }     
                
            } 
           
        }
        
      
    }
    
    &__plats{
        padding: 0px 0px 20px 30px;
        @include laptopXL{
            padding: 0px 0px 20px 150px;
            font-size: 16px;
        }
        @include laptopL{
            padding: 0px 0px 20px 100px;
            font-size: 16px;
        }
        @include laptop{
            padding: 0px 0px 20px 70px;
            font-size: 16px;
        }
        @include tablette{
            padding: 0px 0px 20px 70px;
        }
      
      

        &__heading{
            font-size: 14px;
            width: 30%;
           
            
        }
        &__trait{
            border-bottom:$couleur_tertiare solid 2px ;
            width: 35%;
            font-weight: bold;
            @include laptopXL{
                width: 5%;
            }

            @include laptopL{
                width: 8%;
            }
            @include laptop{
                width: 10%;
            }
            @include tablette{
                width: 18%;
            }
            margin-bottom: 10px;
        }
       
        .menu__container{
            position: relative; // parent en position qui permet la animation du check en position relative 
            overflow: hidden;
            width: 90%;
            height: 60px;
            border-radius: 16px;
            border: none;
            background-color: white;
            margin: 10px 0px 10px 0px;
            padding:10px 0px 10px 0px;
            @include laptopL{
                margin: 10px 0px 10px 0px;  
            }
            @include laptop{
                margin: 10px 0px 10px 5px;

            }
            @include tablette{
                margin: 10px 0px 10px 5px;
                padding:10px 0px 10px 5px;
            }

            // animations          
            
            // animation conteneurs apparition progressive 
            
            /*animation: transition 1s ease-in-out 2s forwards;
            
            @keyframes transition {
                0%   { margin-top: -80px;opacity:0; }
                100% { margin-top: 0;opacity:1; }
                }
            */
           
            animation: apparition 1s 1s ease-in-out backwards;
    
            @keyframes apparition{
                from{
                    transform: translateY(20px);
                    transform-origin: bottom;
                    opacity: 0;
                }
                to{
                    transform: translateY(0);
                    opacity: 1;
                }
            }
            // animation chargement page // 
            
            &__btn--4{animation-delay: 800ms}
            &__btn--5{animation-delay: 1s}
            &__btn--6{animation-delay: 1200ms}
            
            // modificateur pour menu Note enchantée plats provence conteneur
            //&__height--{
            // height: 65px;
            //}
            
            &__choix {
                p{
                  font: {
                    weight: bold;
                    size: 14px;  
                  }
                  text-align: left;
                  padding-left: 10px;
                  width: 75%;                
                }
                    
            }
            // modificateur pour menu Note enchantée plats provence with nom
            &__choix--{
                width: 75%;
            }  
            &__prix{
                display: flex;         
                padding-top: 7px;
                p{
                    text-align: left;
                    width: 85%;
                    padding-left: 10px;
                    font-size: 13px;
                }
                @include mobileL{
                    padding-top: 4px;
                }
                @include mobileM{
                    padding-top: 4px;
                }
                @include mobileS{
                    padding-top: 4px;
                }
                &__euro{
                    display: flex;
                    font-weight: bold;   
                    width: 20%;
                    i{
                        opacity: 1;
                    }
                    @include laptopXL{
                        padding-left: 160px;
                        width: 15%;
                        font-size: 24px;
                    }
                    @include laptopL{
                        padding-left: 40px;
                        width: 10%;
                        font-size: 24px;
                    }
                    @include laptop{
                        width: 15%;
                        font-size: 24px;
                    }
                    @include tablette{
                        width: 10%;
                    }
                    @include mobileL{
                        width: 15%;
                    }
                    
                }
            }
            &__prix--{
              padding-top: 4px;
            }
            &__check{
                opacity: 0;
                border-top-right-radius : 16px;
                border-bottom-right-radius : 16px;
                background-color:$couleur_tertiare;
                width: 18%;
                height: 60px;
                position: absolute;
                inset: 0; 
                left: 90%;
                top: 0px;

              i{
                opacity: 0; // check invisible 
              }
             
            }
           
            &:hover {
                width: 90%;
                .menu__container__check{ // au sur vol la case check apparait de droit à gauche 
                    opacity: 1; // check visible 
                    
                    //animation conteneur check se déplace vers la gauche          
                    transform: translate(-30%);
                    transition: transform 500ms ease-in-out;
                    @include laptopXL{
                        transform: translate(-4%);
                        width: 20%;
                    }
                    @include laptopL{
                        transform: translate(-4%);
                        width: 40%;
                    }
                    @include laptop{
                        transform: translate(-4%);
                        width: 50%;
                    }
                    @include tablette{
                        transform: translate(-4%);
                        width: 80%;
                    }
                    @include mobileL{
                        transform: translate(-4%);
                        width: 70%;
                    }
                    
                   
                   
                   i{              
                     opacity: 1;
                     text-align: center;
                     border-radius: 50%;
                     width: 20px;
                     height: 20px;
                     color: $couleur_tertiare;
                     background-color: white;
                     margin: 19px 0px 0px 15px;  // padding : top right bottom left
                     padding-top: 2px;

                     // animation - le symbole de check tourne au sur vol hover
                     animation: check 1s ease-out  forwards;
                     @keyframes check {
                        from {transform: rotate(0deg); 
                        }
                        to { transform: rotate(360deg); 
                        }
                    }
                    }
                   
                } 
                .menu__container__prix{  //decalage de la ligne prix vers la gauche hover
                    display: flex;      
                    padding-top: 7px;
                   
                    p{
                        text-align: left;
                        width: 40%;
                        @include laptopXL{
                            width: 100%;
                        }
                        @include laptopL{
                            width: 90%;
                        }
                        @include laptop{
                            width: 80%;
                        }
                        @include tablette{
                            width: 60%;
                        }
                        @include mobileL{
                            width: 50%;
                        }
                        @include mobileM{
                            width: 42%;
                        }
                        font-size: 13px;
                        white-space: nowrap;    // no wrap à la ligne quand il n'y a plus d'espace
                        overflow: hidden;          // cacher ce que dépasse
                        text-overflow: ellipsis;  // met les trois points de suspension
                    }
                    &__euro{
                        display: flex;
                        width: 70%;
                        padding-left: 110px;
                        font-size: 14px;

                        // le prix se déplace avec le check
                        transform: translate(-3%);
                        transition: transform 1s ease-in-out;
                     

                        @include laptopXL{
                            width: 100%;
                            padding-left:57%;
                        }
                        @include laptopL{
                            width: 100%;
                            padding-left: 55%;

                        }
                        @include laptop{
                            width: 70%;
                            padding-left: 40%;

                        }
                        @include tablette{
                            width: 60%;
                            padding-left: 34%;

                        }
                        @include mobileL{
                            width: 60%;
                            padding-left: 34%;
                        }
                        @include mobileM{
                            width: 70%;
                            padding-left: 37%;
                        }
                        @include mobileS{
                            width: 80%;
                            padding-left: 37%;
                        }
                       
                        p{
                          text-align:left;
                          white-space: unset;    // no wrap à la ligne quand il n'y a plus d'espace
                          // cacher ce que dépasse
                          text-overflow: unset; 
                        }
                        i{
                           opacity: 1;
                       }
                    }
                }
                .menu__container__prix--{
                    padding-top: 4px;
                }
            }     
        }   
        
    }
    &__desserts{

        padding: 0px 0px 20px 30px;
        @include laptopXL{
            padding: 0px 0px 20px 150px;
            font-size: 16px;
        }
        @include laptopL{
            padding: 0px 0px 20px 100px;
            font-size: 16px;
        }
        @include laptop{
            padding: 0px 0px 20px 70px;
            font-size: 16px;
        }
        @include tablette{
            padding: 0px 0px 20px 70px;
        }
      
      

        &__heading{
            font-size: 14px;
            width: 30%;
           
            
        }
        &__trait{
            border-bottom:$couleur_tertiare solid 2px ;
            width: 35%;
            font-weight: bold;
            @include laptopXL{
                width: 5%;
            }

            @include laptopL{
                width: 8%;
            }
            @include laptop{
                width: 10%;
            }
            @include tablette{
                width: 18%;
            }
            margin-bottom: 10px;
        }
       
        .menu__container{
            position: relative; // parent en position qui permet la animation du check en position relative 
            overflow: hidden;
            width: 90%;
            height: 60px;
            border-radius: 16px;
            border: none;
            background-color: white;
            margin: 10px 0px 10px 0px;
            padding:10px 0px 10px 0px;
            @include laptopL{
                margin: 10px 0px 10px 0px;  
            }
            @include laptop{
                margin: 10px 0px 10px 5px;

            }
            @include tablette{
                margin: 10px 0px 10px 5px;
                padding:10px 0px 10px 5px;
            }

            // animations          
            
            // animation conteneurs apparition progressive 
            
              /*animation: transition 1s ease-in-out 2s forwards;
            
            @keyframes transition {
                0%   { margin-top: -80px;opacity:0; }
                100% { margin-top: 0;opacity:1; }
                }
            */
           
            animation: apparition 1s 1s ease-in-out backwards;
    
            @keyframes apparition{
                from{
                    transform: translateY(20px);
                    transform-origin: bottom;
                    opacity: 0;
                }
                to{
                    transform: translateY(0);
                    opacity: 1;
                }
            }
            // animation chargement page 
            
            &__btn--7{animation-delay: 1400ms}
            &__btn--8{animation-delay: 1600ms}
            &__btn--9{animation-delay: 1800ms}
            &__btn--10{animation-delay: 2s}
            
           
            
            &__choix {
                p{
                  font: {
                    weight: bold;
                    size: 14px;  
                  }
                  text-align: left;
                  padding-left: 10px;
                  width: 75%;                
                }
                    
            }
            &__choix--{
                width: 70%;
            }  
            &__prix{
                display: flex;  
                padding-top: 7px;
                p{
                    text-align: left;
                    width: 85%;
                    padding-left: 10px;
                    font-size: 13px;
                }
                &__euro{
                    display: flex;
                    font-weight: bold;   
                    width: 20%;
                    i{
                        opacity: 1;
                    }
                    @include laptopXL{
                        padding-left: 160px;
                        width: 15%;
                        font-size: 24px;
                    }
                    @include laptopL{
                        padding-left: 40px;
                        width: 10%;
                        font-size: 24px;
                    }
                    @include laptop{
                        width: 15%;
                        font-size: 24px;
                    }
                    @include tablette{
                        width: 10%;
                    }
                    @include mobileL{
                        width: 15%;
                    }
                }
            }
            &__prix--{
                padding-top: 4px;
              }
            &__check{
                opacity: 0;
                border-top-right-radius : 16px;
                border-bottom-right-radius : 16px;
                background-color:$couleur_tertiare;
                width: 18%;
                height: 60px;
                position: absolute;
                inset: 0; 
                left: 90%;
                top: 0px;

              i{
                opacity: 0; // check invisible 
              }
             
            }
           
            &:hover {
                width: 90%;
                .menu__container__check{ // au sur vol la case check apparait de droit à gauche 
                    opacity: 1; // check visible 
                    
                    //animation conteneur check se déplace vers la gauche          
                    transform: translate(-30%);
                    transition: transform 1s ease-in-out;
                    @include laptopXL{
                        transform: translate(-4%);
                        width: 20%;
                    }
                    @include laptopL{
                        transform: translate(-4%);
                        width: 40%;
                    }
                    @include laptop{
                        transform: translate(-4%);
                        width: 50%;
                    }
                    @include tablette{
                        transform: translate(-4%);
                        width: 80%;
                    }
                    @include mobileL{
                        transform: translate(-4%);
                        width: 70%;
                    }
                    
                   
                   
                   i{              
                     opacity: 1;
                     text-align: center;
                     border-radius: 50%;
                     width: 20px;
                     height: 20px;
                     color: $couleur_tertiare;
                     background-color: white;
                     margin: 19px 0px 0px 15px;  // padding : top right bottom left
                     padding-top: 2px;

                     // animation - le symbole de check tourne au sur vol hover
                     animation: check 1s ease-out  forwards;
                     @keyframes check {
                        from {transform: rotate(0deg); 
                        }
                        to { transform: rotate(360deg); 
                        }
                    }
                    }
                   
                } 
                .menu__container__prix{  //decalage de la ligne prix vers la gauche hover
                    display: flex;      
                    padding-top: 7px;
                    p{
                        text-align: left;
                        width: 40%;
                        @include laptopXL{
                            width: 100%;
                        }
                        @include laptopL{
                            width: 90%;
                        }
                        @include laptop{
                            width: 80%;
                        }
                        @include tablette{
                            width: 60%;
                        }
                        @include mobileL{
                            width: 50%;
                        }
                        @include mobileM{
                            width: 42%;
                        }
                        font-size: 13px;
                        white-space: nowrap;    // no wrap à la ligne quand il n'y a plus d'espace
                        overflow: hidden;          // cacher ce que dépasse
                        text-overflow: ellipsis;  // met les trois points de suspension
                    }
                    &__euro{
                        display: flex;
                        width: 70%;
                        padding-left: 110px;
                        font-size: 14px;
                       
                        // le prix se déplace avec le check
                        transform: translate(-3%);
                        transition: transform 1s ease-in-out;

                        @include laptopXL{
                            width: 100%;
                            padding-left:57%;
                        }
                        @include laptopL{
                            width: 100%;
                            padding-left: 55%;

                        }
                        @include laptop{
                            width: 70%;
                            padding-left: 40%;
                        }
                        @include tablette{
                            width: 60%;
                            padding-left: 34%;

                        }
                        @include mobileL{
                            width: 60%;
                            padding-left: 34%;
                        }
                        @include mobileM{
                            width: 70%;
                            padding-left: 37%;
                        }
                        @include mobileS{
                            width: 80%;
                            padding-left: 37%;
                        }
                       
                        p{
                          text-align:left;
                          white-space: unset;    // no wrap à la ligne quand il n'y a plus d'espace
                          // cacher ce que dépasse
                          text-overflow: unset; 
                        }
                        i{
                           opacity: 1;
                       }
                    }
                }
                .menu__container__prix--{
                    padding-top: 4px;
                }     
                
            }     
        }   
        
    }
       
    
   
    &__button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35%;
        height: 30px; 
        margin:20px 0px 0px 35%;
        @include laptopXL{
            
            width: 15%;
            margin:20px 0px 0px 40%;
           
        }
        @include laptopL{
            
            width: 20%;
           
        }
        @include laptop{
           
            width: 25%;
        }
        @include tablette{
           
            width: 30%;
        }

        border-radius: 16px;
        
        // melange des trois couleurs de la chartre graphique du site//
        @include couleur-button;
        border: none;
        box-shadow: $box-shadow-btn;
        color: #F2F2F2;
        font-size: 12px;
        p{
          width: 100%;
        }
    
        &:hover{
          // mixin shadow plus foncee //
          @include box-shadow-fonce($colour);  
          // mixin color background eclaircie //
          @include couleur-button-eclaircie;
        }

        &__menuNote--{
            margin:100px 0px 0px 35%;
        }
    }
 
}
    


 
