.nav{
    width: 80%;
    margin-top: 50px;
    padding-left: 50px;
   
   
    &__heading{
     
      text-align: left;
      padding-top: 20px;
      padding-left: 40px;
      @include laptopXL{
        padding-left: 150px;
      }
      @include laptopL{
        padding-left: 120px;
      }
      @include laptop{
        padding-left: 100px;
      }
      @include tablette{
        padding-left: 100px;
    }
    p{
        font-size: 20px;
        font-weight: bold;
       
    }
    }
    &__etape{
        padding-left: 50px;
        @include laptopXL{
            padding-left: 150px;
          } 
        @include laptopL{
            padding-left: 120px;
        }
        @include laptop{
            padding-left: 100px;
        }
        @include tablette{
            padding-left: 100px;
        }
        .icon2{
            position: relative;
            width: 20px;
            height: 20px;
            right: 10px;
            top:35px;
            padding:5px;
            font-size: 10px;
            color:white;
            background-color: $couleur_primaire;
            border-radius: 50%;
        }

        button {
            display: flex;
            align-items: center;
            gap: 20px;
            width: 88%;
            height: 50px;
            border-radius: 16px;
            border: none;
            margin-bottom: 10px;
            box-shadow: $box-shadow-btnnav;
            background-color: $coul_backg_formsectnav;
               
            &:hover{
                @include couleur-btn-eclaircie-nav;
                box-shadow: $box-shadow-btnnavhover;
                &:hover i{
                    color:$couleur_primaire ;
                }
            }
            span{
                font: {
                    size: 14px;
                    weight: bold;
                   
                } 
                @include laptopL{
                    font-size: 16px;
                }
                @include laptop{
                    font-size: 16px;
                }
                @include tablette{
                    font-size: 16px;
                }
                width: 70%;
                text-align: left;

            }
            i{
                font-size: 18px;
                color:grey;
                width: 20%;
                height: 20px;
                padding-left: 30px;
            }
        }
    }
}