.photo{
    width: 100%;
 
    img {
        width: 100%;                    /* image responsive */
        height: 200px;
        overflow: hidden;
        object-fit: cover;                                /* rempli la card partie image*/
    }
}