// button shadow plus sombre //

@mixin box-shadow_fonce($colour:rgb(216, 190, 190)){
    box-shadow: 0 5px 5px -5px darken($colour, 80%);
    }

// mixin couleur button formulaire  //

@mixin couleur-button{
    background-image:linear-gradient($couleur_secondaire,$couleur_primaire);
}

// mixin couleur button formulaire eclaircie deux couleurs //
@mixin couleur-button-eclaircie{
   background-image:linear-gradient(lighten($couleur_secondaire,10%),lighten($couleur_primaire,20%));
  
}

// mixin couleur button formulaire eclaircie une couleur //
@mixin couleur-btn-eclaircie-nav{
    background-color:lighten($couleur_primaire,35%);
   
 }

// mixin breakpoints  


// laptop XL
@mixin laptopXL {
    @media screen and (min-width: 2000px) {
        @content;
    }
}
// laptop L grand ecran

@mixin laptopL {
    @media screen and (min-width:1400px) and (max-width: 1999px) {
        @content;
    }
}

// laptop
@mixin laptop {
    @media screen and (min-width: 992px) and (max-width: 1399px) {
        @content;
    }
}


//tablette


@mixin tablette {
    @media screen and (min-width: 768px) and (max-width: 991px) {
        @content;
    }
}

@mixin mobileL {
    @media screen and (min-width: 425px) and (max-width: 767px) {
        @content;
    }
}
@mixin mobileM {
    @media screen and (min-width: 375px) and (max-width: 424px) {
        @content;
    }
}
@mixin mobileS {
    @media screen and (min-width: 320px) and (max-width: 374px) {
        @content;
    }
}