// button shadow plus sombre //

@mixin box-shadow_fonce($colour:rgb(216, 190, 190)){
    box-shadow: 0 5px 5px -5px darken($colour, 80%);
    }

// mixin couleur button formulaire  //

@mixin couleur-button{
    background-image:linear-gradient($couleur_secondaire,$couleur_primaire);
}

// mixin couleur button formulaire eclaircie deux couleurs //
@mixin couleur-button-eclaircie{
   background-image:linear-gradient(lighten($couleur_secondaire,10%),lighten($couleur_primaire,20%));
  
}

// mixin couleur button formulaire eclaircie une couleur //
@mixin couleur-btn-eclaircie-nav{
    background-color:lighten($couleur_primaire,35%);
   
 }


