$couleur_primaire:#9356DC;
$couleur_secondaire:#FF79DA ;
$couleur_tertiare:#99E2D0;

$coul_backg_formsectnav:lighten(#ecf0f1,3%);
$coul_backg_inputform:lighten(#bdc3c7,14%);
$coul_backg_footer:lighten(black,25%);


// box shadow //

$box-shadow-card:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
$box-shadow-btn: 0 5px 5px -5px #333;
//$box-shadow-btnnav:0 0 3px 3px darken(#ecf0f1,0%);
$box-shadow-btnnav:0 2px 6px 0 rgba(84, 78, 78, 0.2), 0 4px 10px 0 rgba(142, 134, 134, 0.19);

$box-shadow-btnnavhover:0 0 4px 4px lighten($couleur_primaire,35%) ;
 
$box-shadow-topinput: inset 0px 2px 3px -3px rgba(50, 50, 50, 0.75);

$colour:#333;

