$couleur_primaire:#9356DC;
$couleur_secondaire:#FF79DA ;
$couleur_tertiare:#99E2D0;

$coul_backg_formsectnav:lighten(#ecf0f1,1%);
$coul_backg_inputform:lighten(#bdc3c7,15%);
$coul_backg_footer:#2c3e50;


// box shadow //

$box-shadow-card:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
$box-shadow-btn: 0 5px 5px -5px #333;
$box-shadow-btnnav:0 0 4px 4px darken(#ecf0f1,1%);
$box-shadow-btnnavhover:0 0 4px 4px lighten($couleur_primaire,35%) ;
 
$box-shadow-topinput: inset 0px 2px 3px -3px rgba(50, 50, 50, 0.75);

$colour:#333;

